<div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-sm-3 rsvp_body">
	<table class="table rsvp_table">
		<thead>
			<tr>
				<th>
					User
				</th>
			</tr>
		</thead>
		<tbody>
			<% @event.rsvps.each do |rsvp| %>
			<tr>
				<td>
					<%= link_to rsvp.user.username, rsvp.user %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% unless @event.users.include? current_user %>
		<%= render 'rsvps/attend_social' %>
	<% else %>
		<%= link_to "Unattend", event_rsvp_path(@event, @event.rsvps.where(user: current_user).first), class: "btn btn-default btn_unattend", method: :delete %>
	<% end %>
</div>
