<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>forum</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.forum_id %></td>
        <td><%= subject.title %></td>
        <td><%= subject.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_forum_subject_path(params[:forum_id]) %>
