/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	height: 100%;
}

 #banner {
	text-align: center;
	font-size: 42px;
	background-color: #E0B0FF;
	margin: 0;
	padding-bottom: 20px;
} 

.forum_desc {
	font-size: 14px;
	text-align: center;
}

.post_view {
	background-color: black;
	color: white;
    width: 60%;
    max-height: 100%;
    margin-top: 20px;
    float: left;
}

.main_title {
	color: white;
	text-align: center;
	font-size: 30px;
}

.main_title a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	color: white;
}

.wrapper {
	display: block;
	position: relative;
	height: 100%;
	background-color: #E0B0FF;
	color: white;
	padding: 0;
	margin: 0;
}

.left_bar {
	float: left;
    width: 15%;
	height: 100%;
	background-color: orange;
}

.right_bar {
	float: right;
	width: 19%;
	height: 600px;
}


.middle_content {
	float: left;
	width: 66%;
	text-align: left;
	background-color: blue;
	min-height: 100%;
}

.forum_user_info {
	width: 15%;
	max-height: 100%;
	margin: 0;
	float: left;
}


.forum_outline {
	height: 40px;
	margin: 0;
}

.post_outline {
	min-height: 200px;
	margin: (20px, 0, 0, 0);
}

.middle_content a{
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.forum_title {
    width: 60%;
    height: 100%;
    margin: 0;
    float: left;
    text-align: center;
}

.description_text {
	font-size: 12px;
}

.admin_links {
	text-align: right;
	font-size: 8px;
	width: 25%;
	max-height: 100%;
	min-height: 250px;
	float: left;
	text-align: center;
}
