// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_view {
	background-color: white;
	color: black;
	min-height: 200px;
	min-width: 200px;
}